<%- await include('frontend/header.ejs', { title: 'Welcome' }) %>
<% console.log("Cart-Page Loaded"); %>
<table class="table table-striped" id="tableCart">
    <tr>
        <th scope="col">Produktname</th>
        <th scope="col"></th>
        <th scope="col">Menge</th>
        <th scope="col"></th>
        <th scope="col">Preis</th>
    </tr>
    <% for(const [key, value] of itemDictionary.entries()) {  %>
        <% console.log("Dictioanry Content: "+key+" "+value); %>
        <% console.log("Values, itemCart: "+value.itemCart); %>
        <% console.log("Values, itemCart: "+value.itemOffer); %>
        <tr>
            <td><%= value.itemName %></td> 
            <td><form action="/changeAmount" method="post"><input  type="number" name="prductId-decrease" value="<%= key %>" hidden><input class="btn-outline-danger" type="submit" value="-"></form></td>
            <td> <%= value.itemCart %> </td>
            <td><form action="/changeAmount" method="post"><input  type="number" name="prductId-increase" value="<%= key %>" hidden><input class="btn-outline-success" type="submit" value="+"></form></td>
            <td> <%= Math.round(parseFloat(value.itemOffer * value.itemCart)*100)/100; %></td>
        </tr>
    <% } %>
</table>
<br>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-md-5">
    <a href="/"><button class="btn btn-outline-secondary btn-lg">Zurück</button></a> 
</div>
    <div class="col-md-5">
    <form action="/checkout" method="post">
        <button class="btn btn-outline-primary btn-lg" type="submit" value="checkout" >Bezahlen</button>   
    </form>
    </div> 
</div>
<%- await include('frontend/footer.ejs') %>